* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img[alt=screenshot] { width: 200px; }

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefcfa;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  letter-spacing: 0.5rem;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
}

.grid > div {
  border: 3px solid #fefcfa;
  border-radius: 15px;
  height: 12.5%;
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebe7;
}

.instructions {
  border: none;
  background-color: #ebebe7;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 30px;
}

.how-to-play {
  display: none;
  position: absolute;
  align-self: center;
  background-color: #ebebe7;
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  z-index: 1;
}

.score-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.black-score-circle,
.white-score-circle {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.disc {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  opacity: 0;
}

.black-disc,
.black-score-circle {
  background-color: #9dbee3;
  color: white;
  font-size: 30px;
  box-shadow: 0 0 0 0 rgba(156, 189, 227, 1);
}

.white-disc,
.white-score-circle {
  background-color: #e9c19b;
  color: white;
  font-size: 30px;
  box-shadow: 0 0 0 0 rgba(233, 193, 155, 1);
}

.reset {
  border: none;
  background-color: #ebebe7;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulsing-black-circle {
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    box-shadow: 0 0 0 0 rgba(156, 189, 227, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(156, 189, 227, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(156, 189, 227, 0);
  }
}

.pulsing-white-circle {
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(233, 193, 155, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(233, 193, 155, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(233, 193, 155, 0);
  }
}

@media only screen and (max-width: 650px) {
  .grid {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 445px) {
  .grid {
    width: 350px;
    height: 350px;
  }
  .black-score-circle,
  .white-score-circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .instructions {
    height: 50px;
    width: 50px;
  }

  .how-to-play {
    width: 95%;
  }
}
