* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefcfa;
}

.game-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  letter-spacing: 0.5rem;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
}

.grid > div {
  border: 3px solid #fefcfa;
  border-radius: 15px;
  height: 12.5%;
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebe7;
}

.instructions {
  border: none;
  background-color: #ebebe7;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
}

.how-to-play {
  display: none;
  position: absolute;
  background-color: #ebebe7;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
}

.score-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.black-score-circle,
.white-score-circle {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-highlight {
  box-shadow: 0 0 20px black;
}

.disc {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.black-disc,
.black-score-circle {
  background-color: #9dbee3;
  color: white;
  font-size: 30px;
}

.white-disc,
.white-score-circle {
  background-color: #e9c19b;
  color: white;
  font-size: 30px;
}

.valid-cell {
  background-color: #cde6de;
}

.reset {
  border: none;
  background-color: #ebebe7;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
